Repository apache/skywalking-nodejs, pull requests merged in 2021-05, with the labels that each got.

#50 Segment reference and reporting overhaul
  README.md
  src/agent/Buffer.ts
  src/agent/protocol/grpc/clients/TraceReportClient.ts
  src/core/PluginInstaller.ts
  src/lib/EventEmitter.ts
  src/logging/index.ts
  src/plugins/AMQPLibPlugin.ts
  src/plugins/AxiosPlugin.ts
  src/plugins/HttpPlugin.ts
  src/plugins/MongoDBPlugin.ts
  src/plugins/MongoosePlugin.ts
  src/plugins/MySQLPlugin.ts
  src/plugins/PgPlugin.ts
  src/trace/context/Context.ts
  src/trace/context/ContextCarrier.ts
  src/trace/context/ContextManager.ts
  src/trace/context/DummyContext.ts
  src/trace/context/SpanContext.ts
  src/trace/span/DummySpan.ts
  src/trace/span/ExitSpan.ts
Labels: core, enhancement

#51 add AzureHttpTriggerPlugin
  README.md
  src/azure/AzureHttpTriggerPlugin.ts
  src/index.ts
  src/trace/Component.ts
Labels: plugin

#54 Add mysql2 plugin
  package-lock.json
  package.json
  src/plugins/MySQL2Plugin.ts
  tests/plugins/mysql2/client.ts
  tests/plugins/mysql2/docker-compose.yml
  tests/plugins/mysql2/expected.data.yaml
  tests/plugins/mysql2/init/init.sql
  tests/plugins/mysql2/server.ts
  tests/plugins/mysql2/test.ts
Labels: plugin

#56 Fix test and require pull request to be up to date
  .asf.yaml
  tests/plugins/mysql2/expected.data.yaml
Labels: chore

#57 chore: draft release notes for 0.3.0
  CHANGELOG.md
  package.json
Labels: chore
